version: "3"
services:
  mysql:
    build:
      context: ./mysql
      dockerfile: Dockerfile.dev
    ports:
      - "3306:3306"

  backend:
    build:
      context: .
      dockerfile: Dockerfile.dev
    depends_on:
      - mysql
    volumes:
      - ./:/go/src/github.com/souhub/avzeus-backend
    ports:
      - "8000:8000"

  ai:
    image: souhub/avzeus-ai_dev:1.8
    tty: true
    ports:
      - "5000:5000"

  frontend:
    image: souhub/avzeus-frontend:1.1
    tty: true
    depends_on:
      - mysql
      - backend
      - ai
    ports:
      - "8080:80"
